<%
function isfinal(){
    return window.location.href.includes("order.html");
}
%>
<div class="pizza-row">
    <div class="order-one ng-scope">
        <img class="img-aside pizza-icon" alt="Піца" src="<%= pizza.icon %>">
        <p class="bold pizza-title ng-scope">
            <span class="order-title"><%= pizza.title %> 
            (<%= size == "small_size" ? "мала" : "велика" %>)</span>
        </p>
        <div class="order-text">
            <img class="diagonal-image" src="assets/images/size-icon.svg">
            <span class="diagonal"><%= pizza[size].size %></span>
            <img class="gram-image" src="assets/images/weight.svg">
            <span class="gram"><%= pizza[size].weight %></span>
        </div>
        <div class="price-box">
            <span class="price"><%= pizza[size].price*quantity %></span> грн.
            <a class="<%= isfinal() ? "hide" : "" %> minus btn btn-xs btn-danger circle" href="#">
                <i class="glyphicon glyphicon-minus icon-white">
                </i>
            </a>
                <span class="label order-pizza-count" style="color:black;"><%= quantity %> <%= isfinal() ? "піцца" : "" %></span>
            <a class="<%= isfinal() ? "hide" : "" %> plus btn btn-xs btn-success circle" href="#">
                <i class="glyphicon glyphicon-plus icon-white">

                </i>
            </a>
            <a class="<%= isfinal() ? "hide" : "" %> count-clear btn btn-xs btn-default circle remove-pizza" href="#">
                <i class="glyphicon glyphicon-remove icon-white">

                </i>
            </a>
        </div>
    </div>
</div>